# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter Notebook
- List popular languages for Data Science
- List commonly used libraries
- Create a table of Data Science Tools
- Perform simple arithmethic in code cells

Some of the popular languages that Data Scientists use are:

1) Python
1) R
1) SQL

Some of the commonly used libraries used by Data Scientists include:

1) Pandas
2) NumPy
3) Scikit-learn

|Data Science Tools|
|:----------------:|
|JupyterLab        |
|RStudio           |
|Jupyter Notebook  |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author

Anannya Vaishnavi